<h2>注文履歴詳細</h2>

<table>
  <tbody>
    <tr>
      <td>購入者</td>
      <td></td>
      <td><%= @order.last_name %><%= @order.first_name %></td>
    </tr>
    
    <tr>
      <td>注文日</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
