<div class="border-bottom row alert alert-danger d-flex justify-content-center align-items-center my-5" style="height: 70px;">
  <h4 class="text-white m-0" style="font-family: 'Roboto', fantasy;">NAGANO-cake</h4>
</div>
